@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	

}

.container {
	padding: 96px 0;
}

body {
width: 100%;
overflow-x: hidden;
}

img {
	width: 100%;
}

.purple {
	color:#6415ff;
}

li {
	list-style: none;
}

ul {
	display: flex;
	padding-right: 16px;
}

section {
	padding: 0 32px;
}

h1 {
	font-size: 48px;
	text-align: center;
	margin-top: 40px;
}

p {
	line-height: 1.5;
	font-size: 18px;
	text-align: center;
}

a {
	display: inline;
	text-decoration: none;
	border-bottom: 2px transparent;
	transition: border color 300ms;
	padding-bottom: 4px;
}
a:hover {
	border-bottom: solid purple;
}

button {
	cursor: pointer;
}

.btn {
	margin-top: 32px;
	background-color: #6415ff;
	border-radius: 500px;
	font-size: 14px;
	color: #fff;
	padding: 16px 32px;
	font-weight: 700;
}

nav {
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 16px;
	white-space: nowrap;
	padding-top: 32px;
}

.nav__logo {
display: flex;
align-items: center;
margin: 8px 0;
padding-bottom: 4px;
}

.nav__logo--img {
	width: 40px;
	height: 40px;

}

.nav__links {
display: flex;
align-items: center;
padding-bottom: 2px;
}

.nav__link {
margin: 0 24px;
font-size: 18px;
font-weight: 700;
color: #243e63;
padding: 10px;
}

.nav__link--primary {
	margin: 0;
	padding: 14px 32px;
	border-radius: 9999px;
	background-color: #6415ff;
	color: white;
	line-height: 1.5;
	border: none;
	width: auto;
	transition: all 300ms;
	margin-top: 2px;
}

.nav__link--primary:hover {
	color:#243e63;
	transition: all 300ms ease;

	
}
.nav__logo--title {
	font-size: 30px;
	font-weight: 900;
	margin-left: 12px;
	letter-spacing: 0.6px;
}

.row {
width: 100%;
max-width: 1200px;
margin: 0 auto;	
}

.nav__row {
	display: flex;
	justify-content: space-between;
	}
	

	/*

	HEADER 

	*/

	header {
		position: relative;
	}

	header .row {
		display: flex;
		align-items: flex-end;
	}
 
	.header__description {
			width: 45%;
	}

	.header__description--para {
		margin: 32px;
	}

	.header__img {
		width: 100%;
}

.header__img--wrapper {
	width: calc(100% -  45%);
}

.header__email {
	width: 100%;
	max-width: 500px;
	height: 70px;
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.header__email--input {
	width: 100%;
	border-radius: 500px;
	border: 2px solid rgb(229, 231, 235);
	padding: 16px 96px 16px 16px ;
	font-size: 16px;
	font-weight: 500;
	position: absolute;
	z-index: 1;
}

.header__email--btn {
	z-index: 2;
	margin: 8px;
	height: 70%;
	border-radius: 500px;
	border: none;
	width: 160px;
	background-color: #6415ff;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	transition: all 300ms ease;
}

.btn:hover,
.header__email--btn:hover {
	background-color:#243e63;
	color: #fff;
	transition: all 300ms ease;
}

.header__customers--title {
	color: #243e63;
	font-size: 16px;
	margin-top: 96px;
	opacity: 0.5;
}

.header__customers--img {
	width: 100%;
	margin-top: 16px;
	opacity: 0.5;
}

.header__blob {
position: absolute;
left: 0;
bottom: 0;
opacity: 0.05;
width: 256px;
height: 256px;
transform: matrix(1, 0, 0, 1, -163, 0);
	}

/* 

FEATURES 

*/

.feature__row {
display: flex;
align-items: flex-start;
padding: 24px;
}

.feature__img {
width: 24px;
height: 24px;
}

.feature__img--wrapper {
display: flex;
padding: 20px;
border: 1px solid #e5e7eb;
border-radius: 500px;
}

.feature__text {
margin-left: 24px;
margin-top: 24px;
color: #243e63
}

.features__title {
text-align: center;	
color: #6415ff;
font-size: 16px;
letter-spacing: 2.0px;
margin-top: 96px;
}

.features__subtitle {
text-align: center;
margin-top: 36px;
font-size: 48px;
}

.features__para {
text-align: center;
margin-top: 36px;
line-height: 1.6;
}

.feature {
width: calc(100%/3);
}

.features {
display: flex;
flex-wrap: wrap;
margin-top: 40px;
}

.feature__para {
margin-top: 24px;
}

.features__blob {
position: absolute;
right: 0px;
width: 256px;
height: 256px;
opacity: 0.25;
padding: 16px;	
right: -100px;
bottom: -600px;

}

/*

QUALITY

*/

.quality__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.quality__description {
	max-width: 576px;
	margin-right: 96px;
	
}

.steps__title,
.quality__title {
	margin-top: 96px;
	font-size: 16px;
}

.quality__subtitle {
	padding: 16px;
	font-size: 48px;
	font-weight: bold;
}

.quality__description {
	width: 100%;
}

.quality__img--wrapper {
margin: 0 56px;
position: relative;
}

.quality__img {
	border: 1px solid rgb(229, 231, 235);
	width: 90%;
 max-width: auto;
 z-index: 1;
}

.quality__grid {
	position: absolute;
	width: 80px;
	height: 80px;
	fill: rgb(100,21,255);
	z-index: -1;
	bottom: -40px;
	right: 0;

	
}

/*

STEPS

*/


.steps__subtitle {
	margin-top: 40px;
	font-size: 48px;
}

.step__subtitle {
	font-size: 24px;
	font-weight: bold;
}

#steps .row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	}

.steps__img--wrapper {
	display: flex;
	position: relative;
}

.steps__description,
.steps__img--wrapper {
	width: 50%;
}

.steps__description {
	padding: 32px 0px;
	padding-left: 64px;
}

.step__description {
	display: flex;
	flex-direction: column;
	margin-left: 24px;
	max-width: 320px;
}

.steps__number {
	font-size: 36px;
	font-weight: 600;
	color: #cbd5e0;
}

.steps__list {
	display: flex;
	align-items: flex-start;
	margin-top: 24px;
}

.steps__para {
	margin-top: 16px;
}

.steps__grid {
	position: absolute;
	opacity: 0.15;
	right: 0;
	bottom: -30px;
	left: 45%;
	width: 80px;
	height: 80px;
	z-index: -1;
}

/* 

VALUES

*/

#values .row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.value__img--wrap,
.value__img--wrapper {
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 36px;
		height: 36px;
	}

	.value:nth-child(1),
	.value__img--wrap {

		background-color: #9ae6b4;
		}

.value:nth-child(2),
.value__img--wrapper {
background-color: #feb2b2;
 }

.value__title {
	margin-left: 16px;
	font-size: 24px;
}
	
.value__para {
	margin-top: 16px;
	line-height: 1.6;
	margin-left: 16px;
}
	.value__img {
		width: 50%;
	}

.section__tag {
	text-align: center;	
	color: #6415ff;
	font-size: 16px;
	letter-spacing: 2.0px;
	margin-top: 96px;
	}
	
	.section__title {
	text-align: center;
	margin-top: 16px;
	margin-bottom: 32px;
	font-size: 36px;
	}
	
	.section__para {
	margin-top: 36px;
	line-height: 1.6;
	}

	.values__list {
		display: flex;
	}

	.value__title--wrap {
		display: flex;
		align-items: center;
		margin-top: 16px;
	}

	.value__text {
		width: calc(100%/2);
		}
		

	.values__description {
		padding: 32px 64px 32px 0;
		width: 50%;
	}

 /*

 PRICING

 */

 #pricing .row {
	display: flex;
	flex-direction: column;
	align-items: center;
 }

 #pricing .section__para {
	max-width: 576px;
	align-items: center;
 }

 .plan {
	border: 1px solid;
	
 }

 .section__plans {
	display: flex;
	justify-content: space-between;
	width: 100%;
	position: relative;
 }

 .plan__stripe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 8px;
 }

 .plans__top,
 .plans__middle,
 .plans__bottom {
	padding: 32px;
	text-align: center;
 }

 .plan__name {
	font-size: 20px;
	font-weight: bold;
 }

 .plan__price {
	padding: 16px;
	font-weight: bold;
	font-size: 36px;
 }

 .plan__duration {
	color: #a0aec0;
	font-size: 16px;
	letter-spacing: 0.1em;
 }

 .plan:nth-child(1),
 .plan__stripe,
 .plan__button {
	color: #f7fafc;
background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 
100%);
 }

 .plan__button {
	border-radius: 500px;
	border: none;
	width: 100%;
	line-height: 1.5;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	transition: all 300ms;
 }